/*Zone pour le cv */

#wrapper {
    width: 90%;
    height: auto;
    margin: 0 auto;
    background-color: #ffffff;
    color: #080808;
    font-family: Arial, Helvetica, sans-serif;
    border :0.5mm ridge #000500 ; 

}    /*a revoir*/
